env/
node_modules/
data/FashionMNIST/raw/t10k-images-idx3-ubyte
data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
data/FashionMNIST/raw/t10k-labels-idx1-ubyte
data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
data/FashionMNIST/raw/train-images-idx3-ubyte
data/FashionMNIST/raw/train-images-idx3-ubyte.gz
data/FashionMNIST/raw/train-labels-idx1-ubyte
data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
backend/data/FashionMNIST/raw/t10k-images-idx3-ubyte
backend/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
backend/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
backend/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
backend/data/FashionMNIST/raw/train-images-idx3-ubyte
backend/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
backend/data/FashionMNIST/raw/train-labels-idx1-ubyte
backend/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
